services:
	encoder.neon: Orisai\DataSources\Bridge\NetteNeon\NeonFormatEncoder
	encoder.badClass: stdClass
	- Orisai\DataSources\Bridge\NetteDI\LazyDataSource(serviceNames: [encoder.neon, encoder.badClass])
