services:
	encoder.neon: Orisai\DataSources\Bridge\NetteNeon\NeonFormatEncoder
	encoder.json: Orisai\DataSources\JsonFormatEncoder
	- Orisai\DataSources\Bridge\NetteDI\NetteDataSource(serviceNames: [encoder.neon, encoder.json])
