services:
	encoder.serialize: Tests\Orisai\DataSources\Doubles\SerializeFormatEncoder
	encoder.json: Orisai\DataSources\JsonFormatEncoder
	- Orisai\DataSources\Bridge\NetteDI\NetteDataSource(serviceNames: [encoder.serialize, encoder.json])
