extensions:
	dataSource: Orisai\DataSources\Bridge\NetteDI\NetteDataSourceExtension

dataSource:
	encoders:
		neon:
			factory: Tests\Orisai\DataSources\Doubles\SerializeFormatEncoder()
		serial: Tests\Orisai\DataSources\Doubles\SerializeFormatEncoder()
